button {
	background-color:	black;
	color:				white;
	width:				100px;
	height:				30px;
	border-color:		white;
	border-radius:		10px;
}

button:hover {
	background-color:	white;
	color:				black;
	border-color:		black;
	transition:			0.5s;
}

#submit {
	background-color:	darkgreen;
	color:				white;
	width:				100px;
	height:				30px;
	border-color:		white;
	border-radius:		10px;
}

#submit:hover {
	background-color:	white;
	color:				darkgreen;
	border-color:		black;
	transition:			0.5s;
}
