body {
	background-image:	url('../images/background.png');
}

div#logo {
	background-image:		url('../images/logo.png');
	display:				block;
	margin-left:			auto;
	margin-right:			auto;
	width:					675px;
	height:					100px;
	background-size:		100%;
}

nav {
	display:			block;
	background-color:	azure;
	margin-left:		auto;
	margin-right:		auto;
	width:				650px;
	padding:			10px;
	border:				1px solid black;
	border-radius:		25px;
}

hr {
	color:			darkgreen;
	margin-top:		25px;
	margin-left:	0px;
}

#form {
	margin-left:	50px;
}

#message, #zwierzeId, #zwierzeGatunek, #zwierzeImie, #zwierzeCKGZ, #zwierzeExpression, #ksiegaId {
	background-color:	gray;
	color:				white;
	border:				none;
	padding:			5px;
	border-radius:		5px;
	width:				100px;
}

#message:focus, #zwierzeId:focus, #zwierzeGatunek:focus, #zwierzeImie:focus, #ksiegaId:focus {
	background-color:	white;
	color:				black;
	border:				1px solid black;
}

#key {
	margin-left:	25px;
}

table {
	width:				100%;
	height:				275px;
	padding:			5px;
}

button {
	width:		100px;
	padding:	5px;
}

.td01 {
	width:				15%;
}

.td02 {
	width:				85%;
	text-align:			center;
}

.info {
	font-size:		smaller;
	font-style:		italic;
}

.info:before {
	content:		"Info: ";
	font-style:		normal;
	font-weight:	bold;
}

.urgent {
	font-size:	smaller;
	color:		red;
}

.link {
	font-size:	smaller;
	color:		darkblue;
}
